<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bg.softuni.softuniada.studyrise">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FinanceActivity"
            android:label="@string/finance_title"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/MaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ProductivityActivity"
            android:label="@string/productivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/MaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ScreenSlidePagerActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".Activities.CheckListActivity"
            android:label="Списък"
            android:parentActivityName=".Activities.ProductivityActivity"
            android:theme="@style/MaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProductivityActivity" />
        </activity>
        <activity
            android:name=".Activities.TodoActivity"
            android:label="TODO"
            android:parentActivityName=".Activities.CheckListActivity"
            android:theme="@style/MaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.CheckListActivity" />
        </activity>
    </application>

</manifest>